<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Service" maxReceivedMessageSize="20000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WCFLink/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Service" contract="MRPServiceReference.Service"
                name="BasicHttpBinding_Service" />
        </client>
    </system.serviceModel>
</configuration>